form {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    border: 1px solid #ddd;
    min-width: 500px;
}

button {
    border: none;
    padding: 15px;
}

input {
    padding: 5px 8px;
    border: none;
}

select {
    padding: 5px 10px 5px 8px;
    border: none;
    border-left: 1px solid #ddd;
}